.item {
    display: flex;
    align-items: center;
    margin: .2rem 0;
}

.item a {
    color: inherit;
    text-decoration: none;
}

.item i {
    color: var(--accent-color);
    margin-right: .3rem;
}