.degree {
    margin-bottom: 10px;
}

.header {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.title {
    font-weight: bold;
}

.dates {
    color: var(--accent-color);
}

.type {
    color: var(--muted-text-color);
}

.description {
    text-align: justify;
    margin: .5rem 0;
    line-height: 1.2; 
}