.employment-stage {
    margin-bottom: .5rem;
}

.header {
    display: flex;
    align-items: top;
    justify-content: space-between;
}

.organization {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.1rem;
}

.dates {
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 1.1rem;
    flex-shrink: 0;
}

.position {
    color: var(--muted-text-color);
}

.description {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 1.2; 
}