.info-block {
    margin-top: 1.2rem;
}

.info-block h3 {
    font-family: "EB Garamond";
    font-weight: normal;
    line-height: 1;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: .6rem;
}