.list {
    list-style-type: none;
    padding-left: 1rem;
    margin: 0;
}

.list li::before {
    content: "\2022";
    font-weight: bold;
    display: inline-block;
    width: 1rem;
    margin-left: -1rem;
    color: var(--accent-color);
} 
